{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> News Project </title>
	<style type="text/css">
		*{font-family:calibri; font-size:28px;}
	</style>
</head>
<body id="bg" style="background-image: url('{%static "images/news.jpg"%}'); background-size:1800px 900px;background-repeat:repeat;background-attachment: fixed;">
	<center>
		<br>
		<h1 style="color:Tomato;font-size:110px; font-family:Trebuchet MS;">News App by DE</h1>
		<form method="POST">
		{% csrf_token %}
			<br><br>
			<label style="font-size:22px;color:SeaGreen;">select news website  &nbsp &nbsp</label>
			<select name='src' style="width:270;font-family:Book Antiqua;text-align:center;">
				<option value="the-times-of-india"> Times of India</option>
				<option value="the-hindu">The Hindu </option>			
			</select>
			<br><br><br>
			<input type="submit" value="Submit" style="font-size:26; background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  font-family:Franklin Gothic Medium;
  margin: 8px 2px;
  cursor: pointer;background-color: Transparent; 
  color: OrangeRed; 
  border: 2px solid OrangeRed;}">
			<br><br><br>
			
			
	</form>
		
		{% if info %}

			<label style="font-family:Bahnschrift SemiBold; font-size:40px;color:Coral; letter-spacing: 7px;">Scroll Down</label>
			<br><br><br><br><br><br><br><br><hr>
			<h2 style="color:OrangeRed;font-size:70px;">News From {{ src }}</h2><hr>
			{% for i in info %}
				<h3 style="color:Crimson;">{{i.title}}</h3>	
				<h3><a href="{{i.url}}">Read More</a></h3>
				<img src={{i.urlToImage}} style="width:200px;height:auto;"> </img>
				<hr>
			{% endfor %}
		{% endif %}				


	</center>

</body>

</html>